body {
  background-color: #5c6572;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  text-align: center;
  width: auto;
  padding: 0px;
}
ul li {
  width: auto;
  list-style: none;
  font: Helvetica, sans-serif;
  color: #ffffff;
}
ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

div {
  width: 100%;
  height: 100%;
  display: table;
}
div .content {
  height: auto;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin: 10px;
  margin-top: 50vh;
}
div .content p {
  font: Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
}
div .content p span {
  text-decoration: line-through;
}
div .content h1 {
  font: Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
