$bodyBackground: #5c6572;
$fonts: Helvetica, sans-serif;
$textColor: #ffffff;
$margin: 10px;
$align: center;

body {
  background-color: $bodyBackground;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  text-align: center;
  width: auto;
  padding: 0px;
  li {
    width: auto;
    list-style: none;
    font: $fonts;
    color: $textColor;
    a {
      text-decoration: none;
      font-weight: bold;
      color: $textColor;
    }
  }
}

div {
  width: 100%;
  height: 100%;
  display: table;
  .content {
    height: auto;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: $align;
    margin: $margin;
    margin-top: 50vh;

    p {
      font: $fonts;
      color: $textColor;
      text-align: $align;
      margin-top: 0px;
      span {
        text-decoration: line-through;
      }
    }

    h1 {
      font: $fonts;
      text-align: $align;
      color: $textColor;
      margin-bottom: 0px;
    }
  }
}
